@{
  Layout = "_Layout";
}

@model Parcels.Models.Sender;

<h1>Register a new Sender</h1>
<hr/>
@using(Html.BeginForm())
{
  <h4>@Html.LabelFor(model => model.Name) </h4>
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
  <br />
  <h4>@Html.LabelFor(model => model.Address)</h4>
  @Html.TextBoxFor(model => model.Address, new { placeholder = "Address" })
  <br />
  <br/>
  <input type="submit" value="Register Sender"/>
}
<hr/>
<p>@Html.ActionLink("Back to list of senders", "Index")</p>