@{
  Layout = "_Layout";
}

@model Parcels.Models.Sender;

<h1>Register a new Sender</h1>
<hr/>
@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address)
  <input type="submit" value="Register Sender"/>
}
<p>@Html.ActionLink("Show list of senders", "Index")</p>