@{
  Layout = "_Layout";
}

@model Parcels.Models.Tag

<h2>Add a package</h2>

<h4>Add a package to this tag: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.Label("Select Package")
  @Html.DropDownList("PackageId")

  <input type="submit" value="add package" />
}
<p>@Html.ActionLink("Back to tags", "Index")</p>